<a href="https://colab.research.google.com/github/carlosLTorresULEAM/IA2doParcial/blob/main/Mi%C3%A9rcoles_26_06_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#SET AS A CONTAINER

var1=set()
var1.add(3)
print(var1)
var1.add('Carlos')
var1.add(True)
print(var1)
var1.add(5)
print(var1)
var1.remove('Carlos')
print(var1)
print(len(var1))
print(3 in var1)

for elem in var1:
  print(elem)

{3}
{True, 3, 'Carlos'}
{True, 5, 3, 'Carlos'}
{True, 5, 3}
3
True
True
5
3

In [13]:
#JUMPLES
var2=tuple()
var=(1,2,3,4,5)
print(type(var))
aux=list(var)
print(type(aux))

aux[2]=300
var=tuple(aux)
print(var)
print(type(var))

<class 'tuple'>
<class 'list'>
(1, 2, 300, 4, 5)
<class 'tuple'>

In [22]:
#HOW TO DEFINA TO CLASS
class saludo(object):
  def __init__(self,name):
    print("THE ONJECT HAS BEEN CREATE")
    self.name=name

  def saludoPersona(self):
    return f"Hola, {self.name}"

name1=saludo('Carlos')
name2=saludo('Cesar')
name3=saludo('Brandon')

print(name1.saludoPersona())
print(name2.saludoPersona())
print(name3.saludoPersona())

THE ONJECT HAS BEEN CREATE
THE ONJECT HAS BEEN CREATE
THE ONJECT HAS BEEN CREATE
Hola, Carlos
Hola, Cesar
Hola, Brandon

In [30]:
class Calculadora:
    def __init__(self, radio, base, altura, lado): #Fixed the typo here, it should be __init__
        self.radio = radio
        self.base = base
        self.altura = altura
        self.lado = lado

    def area_circulo(self):
        return 3.1416 * self.radio ** 2

    def area_triangulo(self):
        return (self.base * self.altura) / 2

    def area_cuadrado(self):
      return self.lado ** 2

# Example usage
calculadora = Calculadora(8, 7, 14, 12)

area_circulo = calculadora.area_circulo()
print("Area del circulo:", area_circulo)

area_triangulo = calculadora.area_triangulo()
print("Area del triangulo:", area_triangulo)

area_cuadrado = calculadora.area_cuadrado()
print("Area del cuadrado:", area_cuadrado)

Area del circulo: 201.0624
Area del triangulo: 49.0
Area del cuadrado: 144