<a href="https://colab.research.google.com/github/carlosLTorresULEAM/IA2doParcial/blob/main/Mi%C3%A9rcoles_26_06_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#SET AS A CONTAINER

var1=set()
var1.add(3)
print(var1)
var1.add('Carlos')
var1.add(True)
print(var1)
var1.add(5)
print(var1)
var1.remove('Carlos')
print(var1)
print(len(var1))
print(3 in var1)

for elem in var1:
  print(elem)

{3}
{True, 3, 'Carlos'}
{True, 5, 3, 'Carlos'}
{True, 5, 3}
3
True
True
5
3

In [13]:
#JUMPLES
var2=tuple()
var=(1,2,3,4,5)
print(type(var))
aux=list(var)
print(type(aux))

aux[2]=300
var=tuple(aux)
print(var)
print(type(var))

<class 'tuple'>
<class 'list'>
(1, 2, 300, 4, 5)
<class 'tuple'>

In [22]:
#HOW TO DEFINA TO CLASS
class saludo(object):
  def __init__(self,name):
    print("THE ONJECT HAS BEEN CREATE")
    self.name=name

  def saludoPersona(self):
    return f"Hola, {self.name}"

name1=saludo('Carlos')
name2=saludo('Cesar')
name3=saludo('Brandon')

print(name1.saludoPersona())
print(name2.saludoPersona())
print(name3.saludoPersona())

THE ONJECT HAS BEEN CREATE
THE ONJECT HAS BEEN CREATE
THE ONJECT HAS BEEN CREATE
Hola, Carlos
Hola, Cesar
Hola, Brandon

In [31]:
class Calculadora:
    def __init__(self, radio, base, altura, lado): #Fixed the typo here, it should be __init__
        self.radio = radio
        self.base = base
        self.altura = altura
        self.lado = lado

    def area_circulo(self):
        return 3.1416 * self.radio ** 2

    def area_triangulo(self):
        return (self.base * self.altura) / 2

    def area_cuadrado(self):
      return self.lado ** 2

# Example usage
calculadora = Calculadora(8, 7, 14, 8)

area_circulo = calculadora.area_circulo()
print("Area del circulo:", area_circulo)

area_triangulo = calculadora.area_triangulo()
print("Area del triangulo:", area_triangulo)

area_cuadrado = calculadora.area_cuadrado()
print("Area del cuadrado:", area_cuadrado)

Area del circulo: 201.0624
Area del triangulo: 49.0
Area del cuadrado: 64

In [33]:
# prompt: Crear una clase que permita ingresar el nombre y la edad de los estudiantes y necesito una función que cuando imprima el nombre sea en mayúscula y otra función que imprima todo en minúscula esto debe aplicar para las dos clases

class Estudiante:
  def __init__(self, nombre, edad):
    self.nombre = nombre
    self.edad = edad

  def nombre_mayuscula(self):
    return self.nombre.upper()

  def todo_minuscula(self):
    return self.nombre.lower() + ", " + str(self.edad).lower()

# Crear instancias de la clase
estudiante1 = Estudiante("Juan", 20)
estudiante2 = Estudiante("María", 21)

# Imprimir el nombre en mayúscula
print(estudiante1.nombre_mayuscula())
print(estudiante2.nombre_mayuscula())

# Imprimir todo en minúscula
print(estudiante1.todo_minuscula())
print(estudiante2.todo_minuscula())

JUAN
MARÍA
juan, 20
maría, 21

In [43]:
class printingNameAge(object):
  def __init__(self,name,age):
    print("ULEAM 2024")
    self.name=name
    self.age=age

  def uppercase(self):
    return f"Name: {self.name.upper()} add the Age: {self.age}"


student1=printingNameAge('Carlos',22)
print(student1.uppercase())

ULEAM 2024
Name: CARLOS add the Age: 22

In [45]:
# prompt: crear una clase con funciones que dejen sumar, restar, multiplicar y dividir y agregamos una función para saber si el resultado es par o impar los resultados deben imprimir la operación que se está realizando.

class Calculadora:
    def __init__(self, numero1, numero2):
        self.numero1 = numero1
        self.numero2 = numero2

    def sumar(self):
        resultado = self.numero1 + self.numero2
        print(f"{self.numero1} + {self.numero2} = {resultado}")
        self.es_par(resultado)

    def restar(self):
        resultado = self.numero1 - self.numero2
        print(f"{self.numero1} - {self.numero2} = {resultado}")
        self.es_par(resultado)

    def multiplicar(self):
        resultado = self.numero1 * self.numero2
        print(f"{self.numero1} * {self.numero2} = {resultado}")
        self.es_par(resultado)

    def dividir(self):
        if self.numero2 == 0:
            print("Error: división por cero")
        else:
            resultado = self.numero1 / self.numero2
            print(f"{self.numero1} / {self.numero2} = {resultado}")
            self.es_par(resultado)

    def es_par(self, numero):
        if numero % 2 == 0:
            print(f"{numero} es par")
        else:
            print(f"{numero} es impar")

# Ejemplo de uso
calculadora = Calculadora(10, 5)

calculadora.sumar()
calculadora.restar()
calculadora.multiplicar()
calculadora.dividir()

10 + 5 = 15
15 es impar
10 - 5 = 5
5 es impar
10 * 5 = 50
50 es par
10 / 5 = 2.0
2.0 es par